* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: #000;
}

.hero {
  background-color: #000;
}

.header {
  background-color: #000;
}

.container {
  width: 90%;
  margin: auto;

}



.logo {
  color: #fff;
  text-align: center;

}

.logo span {
  color: orange;
}

.ul {
  display: flex;
  padding: 20px 0;
  justify-content: center;
}

.list {
  list-style: none;
  margin-right: .5em;
}

.list__links {
  font-size: .79rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: all 400ms ease;

}

.list__links:hover {
  text-decoration: underline;
  color: #AB00FF;
}

.banner {
  background-color: #111;
}

.banner__content {
  padding: 40px 0;
  text-align: center;

}
.banner__content h1 {
  color: #fff;
  font-size: 2.5rem;
  padding-bottom: 10px;
  font-family: 'Abril Fatface', cursive;
  line-height: 50px;


}

.banner__content p {
  color: #fff;
  font-size: 1rem;
  padding-bottom: 20px;
  font-family: 'Questrial', sans-serif;

}

.banner__content a {
  display: inline-block;
  width: 50%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 30px;
  color: #fff;
  background-color: orange;
  border-radius: 10px;
  font-family: 'Questrial', sans-serif;
  transition: all 400ms ease;

}

.banner__content a:hover {
  background-color: #AB00FF;
}
.banner__img {
  width: 60%;
  display: none;
}

.banner__img img {
  width: 100%;
}

.change {
  background-color: #fff;
  padding: 50px 0;
  text-align: center;

}

.services {
  padding: 10px 0;

}
.services a {
  padding: 15px 20px;
  background-color: orange;
  color: #fff;
  font-size: 4rem;
  border-radius: 5px;

}

.services h1 {
  color: #111;
  font-size: 2rem;
  padding: 10px;
  font-family: 'Abril Fatface', cursive;
  text-shadow: 2px 2px 5px #000;

}

.services p {
  font-size: 1.1rem;
  padding-bottom: 50px;
  font-family: 'Questrial', sans-serif;

}

.like {
  border: 2px solid #f1f1f1;
  padding: 20px 0;

}

.like h1 {
  border: none;
  font-size: 1.5rem;
  padding-top: 30px;
  font-family: 'Abril Fatface', cursive;


}
.like a {
  display: inline-block;
  padding: 15px 35px;
  background-color: orange;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Questrial', sans-serif;
  color: #fff;

}

.main {
  padding: 40px 0;
  text-align: center;
}

.works h2 {
  color: #fff;
  padding-bottom: 10px;
  font-family: 'Acme', sans-serif;

}
.works p {
  color: #fff;
  font-size: 1.1rem;
  padding-bottom: 20px;
  font-family: 'Questrial', sans-serif;
  margin-right: 15px;
}

.works a {
  display: inline-block;
  padding: 15px 35px;
  background-color: orange;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Questrial', sans-serif;
  color: #fff;
  margin-bottom: 15px;
}

.works img {
  width: 90%;
  opacity: .6;
  transition: all 400ms ease;
}

.works img:hover {
  opacity: 1;
  transform: scale(1.02);
}

.news {
  padding-top: 50px;
  text-align: center;
}

.news h2 {
  color: #fff;
  padding-bottom: 10px;
  font-family: 'Acme', sans-serif;

}
.news p {
  color: #fff;
  font-size: 1.1rem;
  padding-bottom: 20px;
  font-family: 'Questrial', sans-serif;
  margin-right: 15px;
}

.news a {

  display: inline-block;
  padding: 15px 35px;
  background-color: orange;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Questrial', sans-serif;
  color: #fff;

}

.news img {
  width: 90%;
  opacity: .6;
  transition: all 400ms ease;
}

.news img:hover {
  opacity: 1;
  transform: scale(1.02);
}

.social {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #fff;
  position: relative;
  text-align: center;
}

.social__title {
  color: #000;
  padding-bottom: 20px;
  font-family: 'Acme', sans-serif;
  font-size: 5rem;
  text-shadow: 2px 2px 5px #000;

}

.social__title span {
  color: orange;
}

.social__links {
  margin-top: 70px;

}

.social__links a {
  color: #fff;
  padding: 20px 40px;
  background-color: #000;
  font-size: 5rem;
  border-radius: 5px;

}

.footer__content {
  padding: 50px 0;

}

.about, .dribble, .Latest-News, .contact {

  text-align: center;
  margin: 20px 0;
  border-bottom: 1px solid #fff;
}

.about h2 {
  color: #fff;
  padding-bottom: 20px;
  font-family: 'Acme', sans-serif;
}
.about p {
  color: #838383;
  font-size: 1.1rem;
  padding-bottom: 20px;
  font-family: 'Questrial', sans-serif;

}
.dribble h2 {

  color: #fff;
  padding-bottom: 20px;
  font-family: 'Acme', sans-serif;
}

.dribble img {
  width: 100%;
  border-radius: 5px;
}

.Latest-News h2 {
  color: #fff;
  padding-bottom: 20px;
  font-family: 'Acme', sans-serif;
}

.Latest-News p {
  color: #fff;
  font-size: 1.1rem;
  padding-bottom: 20px;
  font-family: 'Questrial', sans-serif;

}

.Latest-News a {
  color: #fff;
  font-size: 3rem;
}

.contact h2 {
  color: #fff;
  padding-bottom: 20px;
  font-family: 'Acme', sans-serif;
}

.contact input {
  padding: 10px 20px;
  margin-bottom: 5px;
}

.contact textarea {

}
